.btn {
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    width: 100%;

    outline: none;
    border: none;

    border-radius: 10px;
    font-weight: 800;
    text-transform: uppercase;

    padding-left: 0;
    padding-right: 0;

    &__container {
        height: 100%;
        width: 100%;

        border-radius: 10px;

        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }

    span {
        font-weight: 800;
    }

    &__container:hover {
        background: transparent !important;
    }

}

.btn--primary {
    padding: 1px;
    background: linear-gradient($primary-gradient);

    .btn__container {
        background: linear-gradient($primary-gradient);
        color: $very-light-grayish-blue;

        &:hover {
            background: $very-light-grayish-blue !important;

            span {
                background: linear-gradient($primary-gradient);
                background: -webkit-linear-gradient($primary-gradient);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.btn--secondary {
    border: 1px solid transparent;

    &:hover {
        border: 1px solid $very-light-grayish-blue;
        background: transparent !important;

        .btn__container {
            color: $very-light-grayish-blue;
        }
    }

    .btn__container {
        background: $very-light-grayish-blue;

        &:not(:hover) {
            span {
                background: linear-gradient($primary-gradient);
                background: -webkit-linear-gradient($primary-gradient);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}