.card {
    position: relative;


    box-shadow: 9px 14px 36px -9px rgba(0, 0, 0, 0.21);
    border-radius: 20px;

    padding-left: 1.8125rem;
    padding-right: 1.8125rem;

    @media (max-width:475px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width:1440px) {
        width: 21.875rem;
    }

    &--secondary {
        background-color: $very-light-grayish-blue;
    }

    &--primary {
        background: linear-gradient($primary-gradient);

        @media (min-width:1440px) {
            height: 31.1875rem !important;

            .btn {
                margin-top: 22px;
            }
        }
    }

    &--secondary,
    &--primary {
        flex: 1;
        height: 28.3125rem;
    }

    @media (max-width:475px) {
        &:not(:first-of-type) {
            margin-top: 2.0625rem;
        }
    }

    &__container {
        z-index: 1;
    }

    @media (min-width:1440px) {
        &__container {
            display: flex;
            align-items: center;
        }
    }


    &__name {
        text-align: center;
        padding-top: 2.3125rem;
        margin: 0;
        margin-bottom: 2.25rem;

        &--primary {
            color: $very-light-grayish-blue;
        }

        &--secondary {
            color: $grayish-blue;
        }
    }

    &__price-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        margin-bottom: 2.5625rem;

        &--primary {
            color: $very-light-grayish-blue;
        }

        &--secondary {
            color: $dark-grayish-blue;
        }
    }

    &__currency {
        font-size: 1.625rem;
        margin: 0;
        line-height: 1;
    }

    &__amount {
        font-size: 3.25rem;
        margin: 0;
        line-height: 1;
    }

    &__detail {
        margin: 0;

        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        text-align: center;


        &--primary {
            color: $very-light-grayish-blue;
            border-top: 1px solid $very-light-grayish-blue;
        }

        &--secondary {
            border-top: 1px solid $grayish-blue;
            color: $grayish-blue;
        }

        &:last-child {
            border-bottom: 1px solid $grayish-blue;
        }
    }
}