html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-weight: $font-weight;
    font-size: $font-size;
}

.container {
    position: relative;
    overflow-x: hidden;

    width: 100%;
    height: 100%;

    @media (max-width:475px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 4.875rem;
        padding-bottom: 4.875rem;
    }

    @media (min-width:1440px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 12.1875rem;
        padding-right: 12.1875rem;
    }

    margin-left: auto;
    margin-right: auto;
    border: 1px solid;


    background-color: $very-light-grayish-blue;

    &::before,
    &::after {
        position: absolute;

        content: "";
        width: 100%;
        height: 100%;

        pointer-events: none;
        background-repeat: no-repeat;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @media (min-width:1440px) {
            background-size: 21%;
        }
    }

    &::before {
        background-image: url('../../images/bg-top.svg');

        @media (max-width:475px) {
            background-position: 12rem -2rem;
        }

        @media (min-width:1440px) {
            background-size: 23%;
            background-position: right top;
        }
    }

    @media (min-width:1440px) {
        &::after {
            background-image: url('../../images/bg-bottom.svg');
            background-position: bottom left;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}