// Colors
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayis-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

// Gradients
$primary-gradient: hsl(236, 72%, 79%) , hsl(237, 63%, 64%);

// font size
$font-size: 0.9375rem;

$font-weight: 700;